
@import 'src/assets/layout/sass/theme_variables.scss';

:host {
    @extend .display-flex;
    height: 100%;
    overflow: auto;
}

div.grid-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    @extend .block-margin;

    div {
        width: 32.5%;
        margin-right: 8px;
        border: 1px solid #141414;
        background-color: #EBEBEB;
    }
}

